.container {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 1s;
}

.video {
}

.image {
    border: 1px solid red;
}

.krumelur {
    border: 1px solid blue;
}

.hidden {
    opacity: 0;
}