body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 1s;
}

.video, .image {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}

.hidden {
    opacity: 0;
}

.test-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    display: none;
}

.test-button, .back-button {
    position: absolute;
    top: 20px;
    left: 20px;
}

.test-image {
    position: relative;
    top: 100px;
    left: 0px;
}

.jump {
    animation: jump 4s infinite;
    -webkit-animation: jump 4s infinite;
}

.spin {
    animation: spin 3s infinite;
    -webkit-animation: spin 3s infinite;
}

.squeeze {
    animation: squeeze 4s infinite;
    -webkit-animation: squeeze 4s infinite;
}
