.container {
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100vw;
    max-height: 100vh;
    opacity: 1;
    transition: opacity 1s;
}

.hidden {
    opacity: 0;
}

.video {
}

.image {
}

.jump {
    animation: jump 4s;
}

.spin {
    animation: spin 3s;
}

.squeeze {
    animation: squeeze 4s;
}

@keyframes jump {
    0%   { top: 100px; }
    75%  { top: 0px;   }
    100% { top: 100px; }
}

@keyframes spin {
    0%   { transform: rotate(0deg);   }
    100% { transform: rotate(360deg); }
}

@keyframes squeeze {
    0%   { transform: scaleX(1.0) scaleY(1.0); }
    50%  { transform: scaleX(0.3) scaleY(0.8); }
    100% { transform: scaleX(1.0) scaleY(1.0); }
}