

/* Jump up and down! */
.jump {
    animation: jump 4s 1;
    -webkit-animation: jump 4s 1;
}
@keyframes jump {
    0%   { transform: translateY(0px);    }
    75%  { transform: translateY(-100px); }
    100% { transform: translateY(0px);    }
}
@-webkit-keyframes jump {
    0%   { -webkit-transform: translateY(0px);    }
    75%  { -webkit-transform: translateY(-100px); }
    100% { -webkit-transform: translateY(0px);    }
}

/* Spin like crazy! */
.spin {
    animation: spin 3s 1;
    -webkit-animation: spin 3s 1;
}
@keyframes spin {
    0%   { transform: rotate(0deg);   }
    100% { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    0%   { -webkit-transform: rotate(0deg);   }
    100% { -webkit-transform: rotate(360deg); }
}

/* Work it! */
.squeeze {
    animation: squeeze 4s 1;
    -webkit-animation: squeeze 4s 1;
}
@keyframes squeeze {
    0%   { transform: scaleX(1.0) scaleY(1.0); }
    50%  { transform: scaleX(0.3) scaleY(0.8); }
    100% { transform: scaleX(1.0) scaleY(1.0); }
}
@-webkit-keyframes squeeze {
    0%   { -webkit-transform: scaleX(1.0) scaleY(1.0); }
    50%  { -webkit-transform: scaleX(0.3) scaleY(0.8); }
    100% { -webkit-transform: scaleX(1.0) scaleY(1.0); }
}
