body {
  background-color: black;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 1s;
}

.video, .image {
  max-height: 100%;
  display: block;
  margin: 0;
  padding: 0;
  opacity: 1;
}

.krumelur {
  max-height: 60%;
}

.hidden {
  opacity: 0;
}

.test-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  display: none;
}

.test-button, .back-button {
  position: absolute;
  top: 20px;
  left: 20px;
}

.test-image {
  position: relative;
  top: 100px;
  left: 0px;
  animation-iteration-count: infinite !important;
  -webkit-animation-iteration-count: infinite !important;
}

.error {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  display: inline-table;
}

.error-message {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
}
